<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-grid>
      <ion-row>
        <ion-list>
          <ion-item>
            <ion-label>이메일</ion-label>
            <ion-input [(ngModel)="email"]></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>비밀번호</ion-label>
            <ion-input [(ngModel)="password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-row>
      <ion-row>
        <ion-button (click)="createUser()">회원가입</ion-button>
      </ion-row>
      <ion-row>
        <ion-button (click)="login()">로그인</ion-button>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
