<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bitocin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>

      <ion-row>
        <ion-button (click)="getBitcoinBtnClicked()">Coin</ion-button>
      </ion-row>

      <ion-row>
        <ion-button (click)="showChart()">Chart</ion-button>
      </ion-row>

      <ion-row>
        <canvas #myChart id="myChart" width="400" height="400"></canvas>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
