<ion-header [translucent]="true">
  <ion-toolbar>
    <div>
      <h2>Bitcoin</h2>
    </div>

    <ion-row class="ion-justify-content-end">
      <ion-button style="margin: -40px 30px 0 0" (click)="refresh()"><ion-icon name="refresh-outline"></ion-icon></ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>

      <ion-row>
        <ion-button (click)="getBitcoinBtnClicked()">Coin</ion-button>
      </ion-row>

      <ion-row>
        <ion-button (click)="showChart()">Chart</ion-button>
      </ion-row>

      <ion-row>
        <canvas #myChart id="myChart" width="400" height="400"></canvas>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
