<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Segment
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-segment (ionChange)="segmentChanged($event)">
          <ion-segment-button value="kospi">
            <ion-label>KOSPI</ion-label>
          </ion-segment-button>
          <ion-segment-button value="kosdaq">
            <ion-label>KOSDAQ</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-row>
      <ion-row>
        <h2>{{stockName}}</h2>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
